.contato_container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contato_section{
    width: 100vw;
    height: 120vh;
}

#map{
    display: flex;
    height: 80%;
    margin: 0 15rem 0 3rem;
}

.contato_section h2 {
    font-family: "Bodega Script";
    font-size: 3.2vw;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.card_contato{
    position: absolute;
    width: 25.62vw;
    height: 64vh;
    left: 68.44vw;
    top: 25.47vw;
    padding: 2rem 3rem;
    background: #F9F9F9;
    box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.25);
}

.card-informations{
    display: flex;
    align-items: center;
}

.card-informations .text_card-informations h1{
    font-size: 1.5vw;
    margin: 1rem 0;
}

.card-informations .img_card-informations img{
    margin: 1rem 1rem 1rem 0;
}

.card_contato img{
    display: flex;
    width: 2.6vw;
    margin-right:1rem;
}

.card_contato h1, h1 img{
    align-items: center;
}

.card_contato p{
    color: #949A98;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25vw;
    text-align: justify;
}

.card_contato .uber-color{
    margin: 1rem 0;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.35vw;
    color: #82C943;
}

.card_contato span{
    color: #B73133;
    font-weight: bold;
}
  
.card_contato .logos{
    display: flex;
    justify-content: center;
}

.card_contato .logos img{
    width: 8vw;
    
}
