@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

@font-face {
  font-family: Bodega Script;
  src: url(../fonts/bodega-script.otf);
}

:root {
  /* variaveis */
  --fundo: #f9f9f9;
  --texto: #4d4d4d;
  --destaque: #f95d82;
}

body {
  background: var(--fundo);
  color: var(--texto);
}

header {
  width: 100%;
  margin: 0 auto;
}

header .container {
  animation: 1s ease-in 0s 1 slideInFromUP;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header nav {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  padding-bottom: 1.11rem;
}

header nav a {
  transition: color 0.4s;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 2.4rem;
  text-decoration: none;
  color: var(--texto);
}

header #logo {
  margin-right: 1.2rem;
}

hr {
  animation: 3s ease-out 0s 1 slideInFromHR;
  width: 43%;
  margin: 0 auto;
  border: 0.1px solid #f95d82;
}

main .main-apresentation {
  margin: 4rem 0;
  display: flex;
  align-items: center;
}

.apresentation-text {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 5rem;
}

.apresentation-img {
  animation: 1s ease-out 0s 1 slideInFromRight;
  width: 692px;
  display: flex;
}

main .apresentation-title {
  animation: 1s ease-out 1 slideInFromLeft;
  font-family: "Bodega Script";
  color: var(--destaque);
  font-size: 100px;
  line-height: 145px;
}

main .apresentation-subtitle {
  animation: 1s ease-out 1s 1 slideInFromLeft;
  animation-delay: 30ms;
  margin-top: -3rem;
  line-height: 94.56px;
  font-family: "Sofia", cursive;
  font-size: 3.75rem;
}

main .apresentation-description {
  font-family: "Poppins";
  font-style: italic;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 39px;
  margin-top: -1rem;
}

.apresentation-img .img {
  display: inline;
  width: 43.25rem;
  height: 38.063rem;
  transition: 0.4s;
}

.title-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

#icon-mouse {
  display: flex;
  margin: auto auto 5rem auto;
}

.icone-mouse {
  padding-top: 2rem;
}

section .item1 {
  display: flex;
  margin: 1.5rem 0;
  background: url("../images/1.svg") no-repeat;
  background-size: 98% auto;
}

section .item2 {
  margin: 1.5rem 0;
  display: flex;
  background: url("../images/2.svg") no-repeat;
  background-size: 100% auto;
}

section .item3 {
  display: flex;
  background: url("../images/3.svg") no-repeat;
  background-size: 100% auto;
}

#Items img {
  cursor: pointer;
}

.item-text {
  width: 60rem;
  padding-top: 0rem;
}

.item-title {
  font-family: "Bodega Script";
  font-size: 12.5rem;
}

.item-description {
  margin: -5rem 0;
  text-align: justify;
  font-size: 1.7rem;
  font-weight: 400;
}

.item1 img {
  width: 40%;
  padding: 0% 5% 0% 5%;
}

.item2 img {
  width: 50%;
}

.item2 .item-title {
  font-family: "Bodega Script";
  font-size: 12.5rem;
}

.item-title,
.item-description {
  color: var(--fundo);
}

footer {
  padding: 1.5rem;
  margin-top: 2rem;
  background: var(--texto);
  color: var(--fundo);
  display: flex;
  justify-content: center;
}

footer a {
  font-size: 1.56rem;
  transition: color 0.4s;
  font-size: 1rem;
  text-decoration: none;
  color: var(--fundo);
}

footer #footer {
  display: flex;
}

#footer a {
  display: block;
}

#footer img {
  display: inline;
  margin: 0.5rem;
}

.footer-contato {
  width: 20rem;
}

.footer-contato div {
  display: flex;
}

.footer-paginas,
.footer-designby,
.footer-sociais,
.footer-contato {
  margin: 2rem 2rem;
}

.footer-paginas,
.footer-designby,
.footer-sociais {
  width: 10rem;
  margin: 2rem 2rem;
}

.footer-sociais {
  width: 15rem;
}

#footer div h1 {
  padding-bottom: 1.7rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.footer-final-text {
  border: 1px solid red;
}

/* Hovers */

.img:hover {
  width: 720px;
  height: 650px;
}

nav a:hover {
  border-radius: 1rem;
  background: var(--destaque);
  color: var(--fundo);
}

/* Animações */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromUP {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromHR {
  0% {
    width: 0%;
  }
  100% {
    width: 43%;
  }
}

@keyframes slideInFromHRMedia {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes ToptoBottom {
  0% {
    bottom: 0%;
  }
  40% {
  }
  100% {
    bottom: 70%;
  }
}

/* Media queries */

@media screen and (max-width: 1920px) {
  .item-title {
    font-size: 6.25rem !important;
  }

  .item-description {
    width: 80%;
    margin: -2.5rem 0;
    text-align: justify;
    font-size: 1.3em;
    font-weight: 400;
  }

  .item2 .item-text {
    margin-left: 10rem;
  }

  .item2 img {
    width: 50.25rem;
    height: 37.063rem;
  }

  .item3 img {
    width: 80rem;
    margin: 0 34rem;
  }
}

@media screen and (max-width: 1366px) {
  header nav {
    padding: 0rem 0;
    display: flex;
    align-items: center;
    padding-bottom: 0rem;
  }

  main .apresentation-title {
    font-size: 6.25rem;
  }

  main .apresentation-subtitle {
    font-size: 1.5rem;
  }

  main .apresentation-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  hr {
    animation: 3s ease-out 0s 1 slideInFromHRMedia;
    width: 70%;
  }

  .apresentation-img .img {
    /* border: 1px solid red; */
    width: 40.25rem;
    height: 36.063rem;
  }

  .item-title {
    font-size: 6.25rem !important;
  }

  .item-description {
    width: 80%;
    margin: -2.5rem 0;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .item2 .item-text {
    margin-left: 10rem;
  }

  .item2 img {
    width: 38.25rem;
    height: 30.063rem;
  }

  .item3 img {
    width: 40%;
    margin: 0 22rem;
  }
}

@media screen and (max-width: 600px) {
  header nav,
  .apresentation-img {
    display: none;
  }

  .apresentation-text {
    width: 90%;
  }

  h1.apresentation-title {
    font-size: 5rem;
  }

  h1.apresentation-subtitle {
    font-size: 1.4rem;
  }

  h1.apresentation-description {
    font-size: 1rem;
    text-align: justify;
  }
}
