@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@font-face {
  font-family: Bodega Script;
  src: url(../fonts/bodega-script.otf);
}

:root {
  /* variaveis */
  --fundo: #f9f9f9;
  --texto: #4d4d4d;
  --destaque: #f95d82;
}

body {
  font-family: "Poppins", sans-serif !important;
  width: 100vw;
  overflow-x: hidden; 
  background: var(--fundo);
  color: var(--texto);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f95d82 #f9f9f9;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--fundo);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--destaque);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
   /* creates padding around scroll thumb */
}

header {
  width: 100vw;
  margin: 0 auto;
}

header .container-nav {
  animation: 1s ease-in 0s 1 slideInFromUP;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header nav {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  padding-bottom: 1.11rem;
}

header nav a {
  border-bottom: .4vw solid var(--fundo);
  transition: color,border 0.5s;
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
  margin: 1rem 2.4rem;
  text-decoration: none;
  color: var(--texto);
}

header #logo {
  margin-right: 1.2rem;
}

hr.separador{
  animation: 3s ease-out 0s 1 slideInFromHR;
  width: 70vw;
  margin: 0 auto;
  border: 0.1px solid #f95d82;
}

#Items{
  width: 100vw;
}

main .main-apresentation {
  margin: 4rem 0;
  display: flex;
  align-items: center;
}

.apresentation-text {
  width: 50vw;
  text-align: right;
  padding-right: 5rem;
}

.apresentation-img {
  animation: 1s ease-out 0s 1 slideInFromRight;
  width: 50vw;
  display: flex;
}

main .apresentation-title {
  animation: 1s ease-out 1 slideInFromLeft;
  font-family: "Bodega Script";
  color: var(--destaque);
  font-size:6vw;
  line-height: 145px;
}

main .apresentation-subtitle {
  animation: 1s ease-out 1s 1 slideInFromLeft;
  animation-delay: 30ms;
  margin-top: -3rem;
  line-height: 94.56px;
  font-family: "Sofia", cursive;
  font-size: 3.3vw;
}

main .apresentation-description {
  font-family: "Poppins";
  font-style: italic;
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: -1rem;
}

.apresentation-img .img {
  display: inline;
  width: 50vw;
  height: 38vw;
  transition: 0.4s;
}

.title-section {
  font-size: 2vw;
  width: 100vw!important;
  align-items: center;
  display: flex;
  justify-content: center;
}

#icon-mouse {
  display: flex;
  margin: auto auto 5rem auto;
}

.icone-mouse {
  padding-top: 2rem;
}

section .item1 {
  width: 100vw;
  display: flex;
  margin: 1.5rem 0;
  background: url("../images/1.svg") no-repeat;
  background-size: 98% auto;
}

section .item2 {
  margin: 1.5rem 0;
  display: flex;
  background: url("../images/2.svg") no-repeat;
  background-size: 100% auto;
}

section .item3 {
  display: flex;
  background: url("../images/3.svg") no-repeat;
  background-size: 100% auto;
}

#Items img {
  cursor: pointer;
}

.item-text, .item1,.item2,.item3 img{
  height: 30vw;
}

.item-text {
  width: 55vw;
  margin: 0 0 0 4vw;
}

.item-title {
  font-family: "Bodega Script";
  font-size: 9vw;
}

.item-description {
  margin:  0;
  text-align: justify;
  font-size: 1vw;
  font-weight: 400;
}

.item1 img {
  width: 30vw;
  padding: 0% 0% 0% 5%;
}

.item2 img {
  width: 40vw;
  margin: 5vw 6vw 0 7vw;
}

.item3 img{
  width: 40vw;
  margin-left: 26vw;
  height: 35vw;
}

.item-title,
.item-description {
  color: var(--fundo);
}

footer {
  padding: 1.5rem;
  margin-top: 2rem;
  background: var(--texto);
  color: var(--fundo);
  display: flex;
  justify-content: center;
}

footer a {
  font-size: 1.56rem;
  transition: color 0.4s;
  font-size: 1rem;
  text-decoration: none;
  color: var(--fundo);
}

footer #footer {
  display: flex;
}

#footer a {
  display: block;
}

#footer img {
  display: inline;
  margin: 0.5rem;
}

.footer-contato {
  width: 20rem;
}

.footer-contato div {
  display: flex;
}

.footer-paginas,
.footer-designby,
.footer-sociais,
.footer-contato {
  margin: 2rem 2rem;
}

.footer-paginas,
.footer-designby,
.footer-sociais {
  width: 10rem;
  margin: 2rem 2rem;
}

.footer-sociais {
  width: 15rem;
}

#footer div h1 {
  padding-bottom: 1.7rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
}

.footer-final-text {
  border: 1px solid red;
}

/* Hovers */

/* .img:hover {
  width: 720px;
  height: 650px;
} */

nav a:hover {
  color: #f95d82;
  border-bottom: .4vw solid var(--destaque);
  border-radius: .3rem;
}


/* opacity: 0;
  text-align: center; */
  /* -webkit-animation: fadein 2s; Safari, Chrome and Opera > 12.1 */
  /* -moz-animation: fadein 2s; Firefox < 16 */
   /* -ms-animation: fadein 2s; Internet Explorer */
    /* -o-animation: fadein 2s; Opera < 12.1 */
       /* animation: fadein 2s; */  

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Animações */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromUP {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromHR {
  0% {
    width: 0%;
  }
  100% {
    width: 70vw;
  }
}

@keyframes slideInFromHRMedia {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes ToptoBottom {
  0% {
    bottom: 0%;
  }
  40% {
  }
  100% {
    bottom: 70%;
  }
}

/* Media queries */

@media screen and (max-width: 600px) {

  body{
    width: 100wv;
  }

  .title-section{
    font-size: 6vw;
  }

  header nav,
  .apresentation-img {
    display: none;
  }

  .apresentation-title, .apresentation-subtitle, .apresentation-description , .apresentation-title{
    width: 100vw;
  }

  h1.apresentation-title {
    justify-content: center;
    font-size: 20vw;
    display: flex;
  }

  h1.apresentation-subtitle {
    font-size: 8vw;
    justify-content: center;
    display: flex;
  }

  h1.apresentation-description {
    font-size: 5vw;
    text-align: center;
    justify-content: center;
  }

  #footer, footer{
    flex-direction: column;
    justify-content: center;
  }

  .footer-contato{
    width: 20vw;
  }

  .footer-contato .imgs{
    display: block;
  }

  footer .imgs{
    width: 50vw;
    display: flex;
  }

  .item-description{
    margin: -0.5rem 0;;
  }
} 


body {
  user-select: none;
}
h2,
h3,
p {
  margin: 0;
}
.section {
  padding: 70px 0;
}
.container {
  max-width: 375px;
  margin: 0 auto;
}
.grid {
  
  grid-template: 1fr / repeat(2, 1fr);
  grid-gap: 25px;
}
.card {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
.card__image {
  position: absolute;
  max-width: 130%;
  left: -15%;
  right: 0;
  width: auto!important;
  margin: 0 auto;
  top: -18%;
  z-index: 2;
  transition: all 0.3s ease-out;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}
.card__data {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ededed;
  padding-top: calc(100% * 1.18);
  transition: all 0.3s ease-out 0.1s;
}
.card__info {
  padding: 0 10px;
  margin-bottom: 10px;
}
.card__info h2 {
  font-size: 14px;
  font-weight: 800;
}
.card__info p {
  font-size: 10px;
  line-height: 14px;
  color: #a2a2a2;
}
.card__action {
  display: grid;
  grid-template: 30px / 1fr 35px;
}
.card__price {
  height: 30px;
  padding: 0 10px 0 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.card__add {
  overflow: hidden;
  width: 35px;
  height: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #222222;
  border: none;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
}
.card__add:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.card__add:active {
  opacity: 1;
  transform: scale(0.8);
}
.card:hover .card__image {
  top: -20%;
}
.card:hover .card__data {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
