@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');


.produto-especifico{
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  display: flex;
  width: 70vw;
  height: 67vh;
  margin: 3rem auto;
  box-shadow:
  0 3.4px 2.7px rgba(0, 0, 0, 0.022),
  0 8.7px 6.9px rgba(0, 0, 0, 0.031),
  0 17.7px 14.2px rgba(0, 0, 0, 0.039),
  0 36.5px 29.2px rgba(0, 0, 0, 0.048),
  0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.produto_image{
  border-radius: 15px 0 0 15px;
  width: 75%;
  height: 100%;
}

.produto_item{
  width: 100%;
  margin: 5rem auto;
  padding-left: 2rem;
}

.produto_topo{  
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.produto_title{
  font-size: 1.5vw;
}

.produto_title h1, .produto_preco p{
  font-weight: 700;
}
.produto_preco{
  padding: .5rem 1.4rem .5rem .5rem;
  background: var(--texto-destaque);
  color: white;
  font-size: 1.5vw;
}

.rating > div {
  margin: 1rem 0;
  background: var(--texto-destaque);
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.produto_description p{
  font-weight: 300;
  color: #9AA09E;
}